

#navbar {
    background-color: rgb(27, 26, 26);
    border-bottom: 1px solid rgba(255, 255, 255, 0.425);
    box-shadow: 2px 2px 3px black;
}

.margin-top {
    margin-top: 10rem;
}

.margin-bottom {
    margin-bottom: 10rem;
}

.avatar {
    width: 50vh;
}

.card {
    position: static;
    transition: background-color .70s ease;
}

.card:hover {
    background-color: rgba(0, 0, 0, 0.575);
    ;
    color: white;
}

.projetos-controle {

    max-width: 70vw;
}

.contato img {
    width: 10%;
}

footer {
    border-top: 1px solid white;
    height: 70px;
}

@media screen and (min-width: 300px) and (max-width: 700px) {
    .logo {
        width: 50%;

    }

    .avatar {
        width: 30vh;
    }

    #sobre {
        flex-direction: column;
        text-align: center;
    }

    .contato img {
        width: 20%;
    }
}